@import "tailwindcss";

:root {
  --background: #1cb9a6;
  --foreground:#e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #111827;
  --foreground:#e5e5e5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000100;
    --foreground: #e5e5e5;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
